.meny {
    background-color: rgba(35,35,35,1);
    height: 100%;
    width: 18rem;
}

.meny__content {
    padding: 2rem;
}

.meny__header {
    text-align: center;
    color: white;
    padding-bottom: 5rem;
}

.meny__valg {
    text-align: center;
    color: white;
}

.meny__valg-item:hover:not(.valgtside) {
    color: gray;
    cursor: pointer;
}

.valgtside {
    color: gray;
}