.meny {
    background-color: rgba(35,35,35,1);
    height: 100%;
    width: 18rem;
}

.meny__content {
    padding: 2rem;
    height: 100%;
}

.meny__list {
    margin-top: 15rem;
    padding: 0 3rem;
}

.meny__logo {
    width: 14rem
}

.meny__subvalg-item {
    padding-left: 1rem;
}

.meny__valg-item {
    text-align: left;
    color: white;
}

.meny__valg-item:hover:not(.valgtside) {
    color: gray;
    cursor: pointer;
}

.valgtside {
    color: gray;
}

.link {
    color: inherit; 
    text-decoration: inherit;
}